<div class="panel panel-default">
  <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
      <center>

      {#
        Render the month headings above the table.
      #}
      <div class="calendar-row">

        <!-- One column to match the weekday labels -->
        <span class="cell weekday-heading">&nbsp;</span>

        {% for month in months %}
        {% if month %}
        <span class="cell month-heading">{{ month }}</span>
        {% else %}
        <span class="cell weekday-heading">&nbsp;</span>
        {% endif %}
        {% endfor %}
      </div>

      {#
        Render the grid entries
      #}
      {% for row in grid_entries %}
      <div class="calendar-row">
        <span class="cell weekday-heading">{{ weekdays[loop.index0] }}</span>
        {% for cell in row %}
        {% if cell|cell_class == "empty" %}
        <div id="{{ cell|cell_id }}" class="cell contrib contrib_{{ cell|cell_class }}"></div>
        {% else %}
        <div id="{{ cell|cell_id }}" class="info cell contrib contrib_{{ cell|cell_class }}"><span>{{ cell|cell_tooltip }}</span></div>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}

      {# Render the legend #}
      <div class="calendar-row legend">
        {% for _ in range(grid_entries[0]|length - 8) %}
        <span class="cell contrib_empty"></span>
        {% endfor %}
        <span class="cell month-heading">Less</span>
        <span class="cell contrib_none"></span>
        <span class="cell contrib_low"></span>
        <span class="cell contrib_med1"></span>
        <span class="cell contrib_med2"></span>
        <span class="cell contrib_high"></span>
        <span class="cell month-heading">&nbsp;More</span>
      </div>

      <div class="row">

        <div class="col-md-4">
          <p class="annot-text">Contributions in the last year</p>
          <p class="big-text">{{ total }}</p>
          <p class="annot-text">{{ start|display_date }} &ndash; {{ today|display_date }}</p>
        </div>
        <div class="col-md-4 center">
          <p class="annot-text">Longest streak</p>
          <p class="big-text">{{ longest|length }} day{% if longest|length != 1 %}s{% endif %}</p>
          {% if longest|length > 0 %}
          <p class="annot-text">{{ longest[0]|display_date }} &ndash; {{ longest[1]|display_date }}</p>
          {% else %}
          <p class="annot-text">No recent contributions</p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <p class="annot-text">Current streak</p>
          <p class="big-text">{{ current|length }} day{% if current|length != 1 %}s{% endif %}</p>
          {% if current|length > 0 %}
          <p class="annot-text">{{ current[0]|display_date }} &ndash; {{ current[1]|display_date }}</p>
          {% else %}
          <p class="annot-text">No recent contributions</p>
          {% endif %}
        </div>
    </div>
  </div>
</div>
